.git/
.gitignore
.venv/

**/__pycache__
**/.ipynb_checkpoints
**/*.swp

.cache/
.ruff_cache/
.pytest_cache/
.pytask_cache/
backups/.git/
configs/config.py
configs/config.example.py
data/
data.docker/
Dockerfile
.dockerignore
docker-compose.yaml
.env
.htpasswd
Makefile
money-utils.service
.pre-commit-config.yaml
.python-version
volumes/

.idea/
.vscode/

static/
_static

