[Unit]
Description=Money-Utils webservice
After=network.target

[Service]
WorkingDirectory=DIR
ExecStart=DIR/webserver
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=DIR
RestartSec=3
TimeoutStopSec=10

[Install]
WantedBy=default.target
