[Unit]

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%h/vcs/flipdot/money-utils/
ExecStart=%h/vcs/flipdot/money-utils/webserver
RestartSec=3

[Install]
WantedBy=default.target
