name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - master
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@a87a4ecfffb7ebaffdba60685f39575a14769784 # 3.2.3
    permissions:
      pull-requests: read
  build:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Build
    uses: dargmuesli/github-actions/.github/workflows/docker.yml@a87a4ecfffb7ebaffdba60685f39575a14769784 # 3.2.3
    permissions:
      packages: write
    with:
      PUSH: false
  # release_semantic:
  #   needs: build
  #   name: Release (semantic)
  #   uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@714a68188444d710ffa3e9f35a05f6a9d420931d # 3.2.0
  #   permissions:
  #     contents: write
  #     id-token: write
  #   secrets:
  #     PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
